# <center>[‚è± –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ –∏ —É—Å–∫–æ—Ä–µ–Ω–∏–µ –≤—ã—á–∏—Å–ª–µ–Ω–∏–π](https://stepik.org/lesson/825508/)</center>

### –û–≥–ª–∞–≤–ª–µ–Ω–∏–µ –Ω–æ—É—Ç–±—É–∫–∞

<img src='../images/speed_up.png' align="right" width="550" height="550" />
<br>

<p><font size="3" face="Arial" font-size="large"><ul type="square">
    
<li><a href="#c2">C—á–∏—Ç—ã–≤–∞–Ω–∏–µ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –±–æ–ª—å—à–∏—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤</a></li>
<li><a href="#c2">–û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ </a></li>
<li><a href="#c2">–£—Å–∫–æ—Ä–µ–Ω–∏–µ –ø—Ä–∏ –ø–æ–º–æ—â–∏ numpy</a></li>
<li><a href="#c2">–í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è –≤ pandas</a></li>
<li><a href="#c2">Numba.jit</a></li>
<li><a href="#c2">–ú—É–ª—å—Ç–∏–ø—Ä–æ—Ü–µ—Å—Å–∏–Ω–≥</a></li>
<li><a href="#6">–í—ã–≤–æ–¥—ã –∏ –∑–∞–∫–ª—é—á–µ–Ω–∏—è</a>

</li></ul></font></p>

<div class="alert alert-info">
–ö–æ–≥–¥–∞ —Ä–µ—á—å –∑–∞—Ö–æ–¥–∏—Ç –æ —Ä–∞–±–æ—Ç–µ —Å –¥–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –±–æ–ª—å—à–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏ —Å–∫–æ—Ä–æ—Å—Ç—å —Ä–∞–±–æ—Ç—ã –ø—Ä–æ–≥—Ä–∞–º–º—ã –∏ –∫–æ–ª-–≤–æ –ø–∞–º—è—Ç–∏, –∫–æ—Ç–æ—Ä–æ–µ –µ–π —Ç—Ä–µ–±—É–µ—Ç—Å—è –º–æ–≥—É—Ç —Å—Ç–∞—Ç—å –æ–¥–Ω–∏–º –∏–∑ –≥–ª–∞–≤–Ω—ã—Ö –±–æ—Ç—Ç–ª–Ω–µ–∫–æ–≤ –≤ –≤–∞—à–µ–π –ø—Ä–æ–≥—Ä–∞–º–º–µ. –û—Å–æ–±–µ–Ω–Ω–æ –µ—Å–ª–∏ –≤—ã –æ–≥—Ä–∞–Ω–∏—á–µ–Ω—ã –≤ —Ä–µ—Å—É—Ä—Å–∞—Ö (–∫–∞–∫ –Ω–∞–ø—Ä–∏–º–µ—Ä —á–∞—Å—Ç–æ –±—ã–≤–∞–µ—Ç –Ω–∞ Kaggle) –∏ –≤–∞–º –Ω—É–∂–Ω–æ, —á—Ç–æ–±—ã –≤–∞—à–µ —Ä–µ—à–µ–Ω–∏–µ –æ—Ç—Ä–∞–±–æ—Ç–∞–ª–æ –Ω–µ —Ç–æ–ª—å–∫–æ —á–µ—Ç–∫–æ, –Ω–æ –µ—â–µ –∏ –±—ã—Å—Ç—Ä–æ. –í —ç—Ç–æ–º —É—Ä–æ–∫–µ –º—ã —Ä–∞—Å—Å–º–æ—Ç—Ä–∏–º –ø–æ–¥—Ö–æ–¥—ã –∏ –º–µ—Ç–æ–¥—ã —Å –ø–æ–º–æ—â—å—é –∫–æ—Ç–æ—Ä—ã—Ö –º–æ–∂–Ω–æ —Å—ç–∫–æ–Ω–æ–º–∏—Ç—å –ø–∞–º—è—Ç—å –∏ —É—Å–∫–æ—Ä–∏—Ç—å –≤–∞—à–∏ –≤—ã—á–∏—Å–ª–µ–Ω–∏—è.

## –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏

In [3]:
import pandas as pd
import numpy as np

# <center> üëÅ –°—á–∏—Ç—ã–≤–∞–Ω–∏–µ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –±–æ–ª—å—à–∏—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ </center>

### –†–∞–±–æ—Ç–∞ —Å pickle

<div class="alert alert-info">

`Pickle` —ç—Ç–æ –æ—Ç–ª–∏—á–Ω–∞—è –∞–ª—å—Ç–µ—Ä–Ω–∞—Ç–∏–≤–∞ –ø—Ä–∏–≤—ã—á–Ω—ã–º –Ω–∞–º `.csv` —Ñ–∞–π–ª–∞–º –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–æ–ª—å—à–∏–º–∏ —Ñ–∞–π–ª–∞–º–∏. –ú–∞–ª–æ —Ç–æ–≥–æ, —á—Ç–æ –æ–Ω —Å—á–∏—Ç—ã–≤–∞–µ—Ç –∏ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç –≤—Å–µ –≤ —Ä–∞–∑—ã –±—ã—Å—Ç—Ä–µ–µ, —Ç–∞–∫ –µ—â–µ –∏ –º–µ—Å—Ç–æ –Ω–∞ –¥–∏—Å–∫–µ —Ç–∞–∫–æ–π —Ñ–∞–π–ª –∑–∞–Ω–∏–º–∞–µ—Ç –º–µ–Ω—å—à–µ. –¢–∞–∫–∂–µ –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ `to_pickle()` —Å–æ—Ö—Ä–∞–Ω—è—é—Ç—Å—è –∏–Ω–¥–µ–∫—Å—ã –∏ –≤—Å–µ —Ç–∏–ø—ã –∫–æ–ª–æ–Ω–æ–∫, —Ç–∞–∫ —á—Ç–æ –ø—Ä–∏ –µ–≥–æ –ø–æ—Å–ª–µ–¥—É—é—â–µ–º —Å—á–∏—Ç—ã–≤–∞–Ω–∏–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –±—É–¥–µ—Ç —Ç–æ—á–Ω–æ —Ç–∞–∫–∏–º –∂–µ, –∏ –µ–≥–æ –Ω–µ –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –ø–æ–≤—Ç–æ—Ä–Ω–æ –æ–ø—Ç–∏–º–∏–∑–∏—Ä–æ–≤–∞—Ç—å –ø—Ä–∏ –∫–∞–∂–¥–æ–º –æ—Ç–∫—Ä—ã—Ç–∏–∏, –∫–∞–∫ –ø—Ä–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏ CSV —Ñ–æ—Ä–º–∞—Ç–∞.

In [9]:
%%time

data = pd.read_csv('../data/blending/text_classification_train.csv')

CPU times: user 1.6 s, sys: 307 ms, total: 1.91 s
Wall time: 1.98 s

In [11]:
data.shape

(7500, 2618)

In [12]:
%%time

data.to_csv('../data/blending/text_classification_train.csv')

CPU times: user 8.63 s, sys: 449 ms, total: 9.08 s
Wall time: 9.14 s

In [13]:
%%time

pd.to_pickle(data, '../data/blending/text_classification_train.pickle')

CPU times: user 15.6 ms, sys: 27.3 ms, total: 42.9 ms
Wall time: 54.7 ms

In [235]:
%%time

data = pd.read_pickle('../data/blending/text_classification_train.pickle')

CPU times: user 11.8 ms, sys: 39.4 ms, total: 51.1 ms
Wall time: 82.1 ms

In [237]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Columns: 2618 entries, category to labse_text_feature_767
dtypes: float64(2616), object(2)
memory usage: 149.8+ MB

### –°—á–∏—Ç—ã–≤–∞–Ω–∏–µ –ø–æ –±–∞—Ç—á–∞–º

<div class="alert alert-info">

–ï—Å–ª–∏ –≤–∞—à –¥–∞—Ç–∞—Å–µ—Ç –Ω–µ —É–º–µ—â–∞–µ—Ç—Å—è –≤ –ø–∞–º—è—Ç—å –±–µ–∑ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏ —Ç–∏–ø–æ–≤ –∏–ª–∏ –æ–Ω –Ω–µ –Ω—É–∂–µ–Ω –≤–∞–º —Ü–µ–ª–∏–∫–æ–º, —Ç–æ –º–æ–∂–Ω–æ —Å—á–∏—Ç—ã–≤–∞—Ç—å –ø–æ –±–∞—Ç—á–∞–º –∏ —Å—Ä–∞–∑—É —É–∫–∞–∑—ã–≤–∞—Ç—å –Ω–µ–æ–±—Ö–æ–∏–º—ã–µ —Ç–∏–ø—ã, –∏–Ω–¥–µ–∫—Å—ã –∏ —Ç–¥. –í –ø–∞—Ä–∞–º–µ—Ç—Ä `chunksize` - –ø–µ—Ä–µ–¥–∞–µ—Ç—Å—è —á–∏—Å–ª–æ —Å—ç–º–ø–ª–æ–≤, –∫–æ—Ç–æ—Ä–æ–µ –±—É–¥–µ—Ç —Å—á–∏—Ç—ã–≤–∞—Ç—å—Å—è –∑–∞ 1 –∏—Ç–µ—Ä–∞—Ü–∏—é.

In [40]:
import gc

chunksize = 1000
tmp_lst = []
with pd.read_csv('../data/car_train.csv',
                 index_col='car_id',
                 dtype={'model': 'category',
                        'car_type': 'category',
                        'fuel_type': 'category',
                        'target_class': 'category'}, chunksize=chunksize) as reader:
    for chunk in reader:
        tmp_lst.append(chunk)
        
data = pd.concat(tmp_lst)

del tmp_lst
gc.collect()

data.head()

,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
car_id,,,,,,,,,
y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug
d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,38.62,gear_stick
u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,30.34,engine_fuel
N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,30.45,engine_fuel

***–í–∞–∂–Ω–æ:*** –ü–æ–∫–∞ –Ω–∞ –∫–∞–∫–æ–π-—Ç–æ –æ–±—ä–µ–∫—Ç –≤ –ø–∞–º—è—Ç–∏ –µ—Å—Ç—å —Å—Å—ã–ª–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —è–≤–Ω–æ –Ω–µ —É–¥–∞–ª–∏–ª–∏ –∏–ª–∏ –Ω–µ –ø–µ—Ä–µ–Ω–∞–∑–Ω–∞—á–∏–ª–∏ - —ç—Ç–æ—Ç –æ–±—ä–µ–∫—Ç –±—É–¥–µ—Ç –∑–∞–Ω–∏–º–∞—Ç—å –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω—É—é –ø–∞–º—è—Ç—å, —Ö–æ—Ç—è –æ–Ω –º–æ–∂–µ—Ç –±–æ–ª—å—à–µ –Ω–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è. –ü–æ—ç—Ç–æ–º—É –≤—Å–µ –≤—Ä–µ–º–µ–Ω–Ω—ã–µ –æ–±—ä–µ–∫—Ç—ã, –∫–æ—Ç–æ—Ä—ã–µ –±–æ–ª—å—à–µ –Ω–µ –±—É–¥—É—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è, –ª—É—á—à–µ —è–≤–Ω–æ —É–¥–∞–ª—è—Ç—å, –∏—Å–ø–æ–ª—å–∑—É—è `del` –∏ –ø–æ—Å–ª–µ —ç—Ç–æ–≥–æ –∑–∞–ø—É—Å–∫–∞—Ç—å —Å–±–æ—Ä—â–∏–∫ –º—É—Å–æ—Ä–∞ gc - `garbage collector`,–∫–∞–∫ –≤ –ø—Ä–∏–º–µ—Ä–µ –≤—ã—à–µ.
```python
import gc
gc.collect()
```

### –ò—Å–ø–æ–ª—å–∑—É–µ–º –≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä

<div class="alert alert-info">
–≠—Ç–æ –æ—Å–æ–±–µ–Ω–Ω–æ –∞–∫—Ç—É–∞–ª—å–Ω–æ, –∫–æ–≥–¥–∞ –º—ã —Ä–∞–±–æ—Ç–∞–µ–º —Å –∫–∞—Ä—Ç–∏–Ω–∫–∞–º–∏ - —á—Ç–æ–±—ã –Ω–µ —Ö—Ä–∞–Ω–∏—Ç—å –∏—Ö –≤—Å–µ—Ö –≤ –æ–ø–µ—Ä–∞—Ç–∏–≤–Ω–æ–π –ø–∞–º—è—Ç–∏, –æ–Ω–∏ —Å—á–∏—Ç—ã–≤–∞—é—Ç—Å—è —Ç–æ–ª—å–∫–æ –ø–µ—Ä–µ–¥ —Ç–µ–º –∫–∞–∫ –º–æ–¥–µ–ª—å —Ö–æ—á–µ—Ç –ø–æ—Å—á–∏—Ç–∞—Ç—å –ø–æ –Ω–∏–º –æ—à–∏–±–∫—É –∏ —Å–∫–æ—Ä—Ä–µ–∫—Ç–∏—Ä–æ–≤–∞—Ç—å –≤–µ—Å–∞. –û–¥–Ω–∞–∫–æ –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–æ–ª—å—à–∏–º–∏ —Ç–µ–∫—Å—Ç–∞–º–∏ —Ç–æ–∂–µ –±—ã–≤–∞–µ—Ç –ø–æ–ª–µ–∑–Ω–æ.

In [344]:
def read_file(filename):
    with open(filename, 'r') as f:
        for line in f:
            yield line.strip()

In [350]:
it = read_file('../data/car_info.csv')
next(it)

'car_type,fuel_type,car_rating,year_to_start,riders,car_id,model,target_class,year_to_work,target_reg'

In [351]:
next(it)

'economy,petrol,4.8,2013,42269,P17494612l,Skoda Rapid,engine_overheat,2019,46.65071890960271'

# <center> üóú –û–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ </center>

<div class="alert alert-info">

–°–∞–º—ã–π —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω—ã–π —Å–ø–æ—Å–æ–± –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏ –ø–∞–º—è—Ç–∏, –µ—Å–ª–∏ –≤—ã –Ω–µ —Ö–æ—Ç–∏—Ç–µ —É–¥–∞–ª—è—Ç—å —á–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö, —ç—Ç–æ —É—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–∞–≤–∏–ª—å–Ω—ã—Ö —Ç–∏–ø–æ–≤. –ï—Å–ª–∏ –∫–æ–ª–æ–Ω–∫–∞ –∏–º–µ–µ—Ç —Ç–∏–ø `int`, —Ç–æ –Ω–µ –Ω—É–∂–Ω–æ —Å—Ç–∞–≤–∏—Ç—å –µ–π —Ç–∏–ø `float`, –∞ –µ—Å–ª–∏ –≤ –Ω–µ–π –≤—Å–µ–≥–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, —Ç–æ –Ω–µ –Ω—É–∂–Ω–æ –¥–µ–ª–∞—Ç—å –µ–µ —Ç–∏–ø–æ–º `string`. .–ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ –≤ –Ω–∞—à–µ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –µ—Å—Ç—å –±–∏–Ω–∞—Ä–Ω–∞—è –∫–æ–ª–æ–Ω–∫–∞ –≤ –∫–æ—Ç–æ—Ä–æ–π —Ö—Ä–∞–Ω—è—Ç—Å—è —Ç–æ–ª—å–∫–æ 0 –∏ 1, `pandas` —Ö—Ä–∞–Ω–∏—Ç –µ—ë –∫–∞–∫ –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ –≤–æ–∑–º–æ–∂–Ω—ã–π —Ç–∏–ø –¥–ª—è —Ü–µ–ª—ã—Ö —á–∏—Å–µ–ª `int64`, —Ö–æ—Ç—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –±—É–¥–µ—Ç `int8`. –ü—Ä–∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–π –ø–æ—Å—Ç–∞–Ω–æ–≤–∫–µ —Ç–∏–ø–æ–≤ —Ä–∞–∑–º–µ—Ä –Ω–æ–≤–æ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ –æ–±—ã—á–Ω–æ –≤ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –º–µ–Ω—å—à–µ (–∞ —Ç–æ –∏ –Ω–∞ –ø–æ—Ä—è–¥–æ–∫), —á–µ–º –±–µ–∑ –Ω–∏—Ö. –¢–∞–∫ –∂–µ –º–æ–∂–Ω–æ –≤—ã–Ω–µ—Å—Ç–∏ –∫–∞–∫—É—é-—Ç–æ –∫–æ–ª–æ–Ω–∫—É –∫–∞–∫ –∏–Ω–¥–µ–∫—Å, —á—Ç–æ–±—ã –Ω–µ —Ö—Ä–∞–Ω–∏—Ç—å –ª–∏—à–Ω–∏–π –∏–Ω–¥–µ–∫—Å, –Ω–æ —ç—Ç–æ —É–∂–µ –∫–æ—Å–º–µ—Ç–∏–∫–∞.

### –ù–∞—Å—Ç—Ä–æ–π–∫–∞ –∏–Ω–¥–µ–∫—Å–æ–≤

In [18]:
data = pd.read_csv('../data/blending/text_classification_train.csv')
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Columns: 2619 entries, Unnamed: 0 to labse_text_feature_767
dtypes: float64(2616), int64(1), object(2)
memory usage: 156.4 MB

In [19]:
data = pd.read_csv('../data/blending/text_classification_train.csv', index_col='Unnamed: 0')
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 0 to 7499
Columns: 2618 entries, category to labse_text_feature_767
dtypes: float64(2616), object(2)
memory usage: 156.4 MB

### –û–ø—Ç–∏–º–∏–∑–∏—Ä—É–µ–º —á–∏—Å–ª–æ–≤—ã–µ —Ç–∏–ø—ã

In [20]:
def reduce_mem_usage(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))

    for col in df.columns:
        col_type = df[col].dtype.name

        if col_type not in ['object', 'category', 'datetime64[ns, UTC]']:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))

    return df

In [21]:
data = reduce_mem_usage(data)
data.info()

Memory usage of dataframe is 149.86 MB
Memory usage after optimization is: 37.59 MB
Decreased by 74.9%
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7500 entries, 0 to 7499
Columns: 2618 entries, category to labse_text_feature_767
dtypes: float16(2616), object(2)
memory usage: 37.6+ MB

### –û–ø—Ç–∏–º–∏–∑–∏—Ä—É–µ–º –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ —Ñ–∏—á–∏

In [307]:
df_cars = pd.read_csv('../data/car_train.csv')
df_cars.head()

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,38.62,gear_stick
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,30.34,engine_fuel
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,30.45,engine_fuel

In [261]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         2337 non-null   object
 1   model          2337 non-null   object
 2   car_type       2337 non-null   object
 3   fuel_type      2337 non-null   object
 4   car_rating     2337 non-null   float64
 5   year_to_start  2337 non-null   int64
 6   riders         2337 non-null   int64
 7   year_to_work   2337 non-null   int64
 8   target_reg     2337 non-null   float64
 9   target_class   2337 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 182.7+ KB

In [262]:
def convert_columns_to_catg(df, column_list):
    for col in column_list:
        print("converting", col.ljust(30), "size: ", round(df[col].memory_usage(deep=True)*1e-6,2), end="\t")
        df[col] = df[col].astype("category")
        print("->\t", round(df[col].memory_usage(deep=True)*1e-6,2))

In [263]:
convert_columns_to_catg(df_cars, ['model', 'car_type', 'fuel_type', 'target_class'])

converting model                          size:  0.16	->	 0.01
converting car_type                       size:  0.15	->	 0.0
converting fuel_type                      size:  0.15	->	 0.0
converting target_class                   size:  0.16	->	 0.0

In [264]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         2337 non-null   object
 1   model          2337 non-null   category
 2   car_type       2337 non-null   category
 3   fuel_type      2337 non-null   category
 4   car_rating     2337 non-null   float64
 5   year_to_start  2337 non-null   int64
 6   riders         2337 non-null   int64
 7   year_to_work   2337 non-null   int64
 8   target_reg     2337 non-null   float64
 9   target_class   2337 non-null   category
dtypes: category(4), float64(2), int64(3), object(1)
memory usage: 120.7+ KB

In [257]:
df_cars.memory_usage().sum() / 1024

120.734375

In [258]:
convert_columns_to_catg(df_cars, ['car_id'])

converting car_id                         size:  0.16	->	 0.23

In [259]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         2337 non-null   category
 1   model          2337 non-null   category
 2   car_type       2337 non-null   category
 3   fuel_type      2337 non-null   category
 4   car_rating     2337 non-null   float64
 5   year_to_start  2337 non-null   int64
 6   riders         2337 non-null   int64
 7   year_to_work   2337 non-null   int64
 8   target_reg     2337 non-null   float64
 9   target_class   2337 non-null   category
dtypes: category(5), float64(2), int64(3)
memory usage: 189.8 KB

In [265]:
df_cars = reduce_mem_usage(df_cars)
df_cars.memory_usage().sum() / 1024

Memory usage of dataframe is 0.12 MB
Memory usage after optimization is: 0.06 MB
Decreased by 52.9%

56.83203125

In [267]:
df_cars.to_pickle('../small_df_cars.pickle')

In [287]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/779914/make_gold_features.csv')
df.head()

       car_id   ride_date  deviation_normal     target_class
0  b12101843B  2020-01-01            -2.846  engine_ignition
1  b12101843B  2020-01-02            -2.431  engine_ignition
2  b12101843B  2020-01-03            -5.992  engine_ignition
3  b12101843B  2020-01-04            -3.427  engine_ignition
4  b12101843B  2020-01-05            -6.351  engine_ignition

In [288]:
df['dif'] = df.groupby('car_id')['deviation_normal'].diff()
df.head()

       car_id   ride_date  deviation_normal     target_class    dif
0  b12101843B  2020-01-01            -2.846  engine_ignition    NaN
1  b12101843B  2020-01-02            -2.431  engine_ignition  0.415
2  b12101843B  2020-01-03            -5.992  engine_ignition -3.561
3  b12101843B  2020-01-04            -3.427  engine_ignition  2.565
4  b12101843B  2020-01-05            -6.351  engine_ignition -2.924

In [289]:
res2 = df.groupby('car_id')['dif'].agg(['max', np.argmax]).reset_index().rename(columns={'max': 'gold_feature_1',
                                                                                  'argmax': 'gold_feature_2'})

In [290]:
res1.head()

       car_id  gold_feature_1  gold_feature_2
0  B-8479157Q           7.773              58
1  C14604474J          20.931              50
2  D46039134C          18.446              48
3  E-1571710h          26.922              53
4  F51416137Z          43.798              49

In [292]:
(res2.values == res1.values).all()

True

## <center>ü•å –£—Å–∫–æ—Ä–µ–Ω–∏–µ –ø—Ä–∏ –ø–æ–º–æ—â–∏ `Numpy`</center>

<div class="alert alert-info">

–ü–µ—Ä–≤–æ–µ –ø—Ä–∞–≤–∏–ª–æ –±—ã—Å—Ç—Ä–æ–≥–æ –∫–æ–¥–∞ - –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ `numpy` –≤–µ–∑–¥–µ, –≥–¥–µ –º–æ–∂–Ω–æ. –û–Ω –∏—Å–ø–æ–ª–Ω—è–µ—Ç—Å—è –Ω–∞ —á–∏—Å—Ç–æ C, —Ç–∞–∫ —á—Ç–æ –≤ —Ä–∞–±–æ—Ç–∞–µ—Ç –≤ —Å–æ—Ç–Ω–∏ —Ä–∞–∑ –±—ã—Å—Ç—Ä–µ–µ –æ–±—ã—á–Ω—ã—Ö —Ü–∏–∫–ª–æ–≤ –∏ list-–æ–≤. –í –æ–±—â–µ–º, –µ—Å–ª–∏ –º–æ–∂–µ—Ç–µ –Ω–∞–ø–∏—Å–∞—Ç—å –∫–æ–¥ –ø—Ä–∏ –ø–æ–º–æ—â–∏ `numpy` - –ø–∏—à–∏—Ç–µ.

### –ò–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è

<div class="alert alert-info">

–î–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏—è —Å–∫–æ—Ä–æ—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã `numpy` –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –∏–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏–∏.

In [52]:
%%timeit

a = list(range(1_000_000))

9.39 ms ¬± 116 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)

In [57]:
%%timeit

b = np.arange(1_000_000)

654 ¬µs ¬± 29 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [79]:
a = list(range(1_000_000))

In [80]:
b = np.arange(1_000_000)

In [81]:
%%timeit
100000 in a

475 ¬µs ¬± 3.21 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [82]:
%%timeit
100000 in b

360 ¬µs ¬± 2.72 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

### –ü–æ—ç–ª–µ–º–µ–Ω—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏

<div class="alert alert-info">

–î–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏—è —Å–∫–æ—Ä–æ—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã `numpy` –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π.

In [53]:
%%timeit
[el * el for el in a]

47.4 ms ¬± 390 ¬µs per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

In [56]:
%%timeit
[el + 10 for el in a]

53.4 ms ¬± 1.38 ms per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

In [55]:
%%timeit
b * b

670 ¬µs ¬± 18.4 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [60]:
%%timeit
b + 10

649 ¬µs ¬± 24.6 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

### A–≥–≥—Ä–µ–≥–∏—Ä—É—é—â–∏–µ —Ñ—É–Ω–∫—Ü–∏–∏

<div class="alert alert-info">

–ú–µ—Ç–æ–¥—ã –∏ —Ñ—É–Ω–∫—Ü–∏–∏ `numpy` —Ä–∞–±–æ—Ç–∞—é—Ç –±—ã—Å—Ç—Ä–µ–µ, —á–µ–º –∏—Ö –æ–±—ã—á–Ω—ã–µ –∞–Ω–∞–ª–æ–≥–∏ –≤ –ø–∏—Ç–æ–Ω–µ.

In [62]:
%%timeit

max(b)

25.9 ms ¬± 140 ¬µs per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

In [63]:
%%timeit

b.max()

100 ¬µs ¬± 202 ns per loop (mean ¬± std. dev. of 7 runs, 10,000 loops each)

### –ö–æ–≥–¥–∞ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å List?

<div class="alert alert-info">

–ù–∞ —Å–∞–º–æ–º –¥–µ–ª–µ –≤ –æ–¥–Ω–æ–º —Å–ª—É—á–∞–µ `list` –≤—Å–µ-—Ç–∞–∫–∏ –º–æ–∂–µ—Ç –±—ã—Ç—å –±—ã—Å—Ç—Ä–µ–µ. –ï—Å–ª–∏ –≤—ã —Ö–æ—Ç–∏—Ç–µ –¥–æ–±–∞–≤–ª—è—Ç—å –º–Ω–æ–≥–æ –Ω–æ–≤—ã—Ö —ç–ª–µ–º–µ–Ω—Ç–æ–≤, —Ç–æ –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ –æ–¥–Ω–æ–≥–æ —ç–ª–µ–º–µ–Ω—Ç–∞ –≤ `list` –ø—Ä–æ–∏—Å—Ö–æ–¥–∏—Ç –∑–∞ O(1) –∏ —Å—É–º–º–∞—Ä–Ω–æ –Ω–∞ –≤—Å–µ —Ç—Ä–∞—Ç–∏—Ç—Å—è O(n) –≤—Ä–µ–º–µ–Ω–∏, –∞ –ø—Ä–∏ –¥–æ–±–∞–≤–ª–µ–Ω–∏–µ –≤ `numpy` –º–∞—Å—Å–∏–≤ –Ω–∞–º –Ω—É–∂–Ω–æ –µ–≥–æ –∑–∞–Ω–æ–≤–æ –≤–µ—Å—å –ø—Ä–æ–∏–Ω–∏—Ü–∏–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å, –¥–∞–∂–µ –µ—Å–ª–∏ –¥–æ–±–∞–≤–∏–ª–∏ –≤—Å–µ–≥–æ –æ–¥–∏–Ω —ç–ª–µ–º–µ–Ω—Ç, —Ç–∞–∫ —á—Ç–æ —Å—É–º–º–∞—Ä–Ω–æ–µ –≤—Ä–µ–º—è —Ä–∞–±–æ—Ç—ã –±—É–¥–µ—Ç O(n^2).

In [67]:
%%timeit

a = np.zeros(0)
for el in range(1000):
    b = np.zeros(1000)
    a = np.append(a, b)

302 ms ¬± 28.8 ms per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [68]:
%%timeit

a = []
for el in range(1000):
    b = [0 for i in range(1000)]
    a += b

20.2 ms ¬± 373 ¬µs per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

### –ò—Å–ø–æ–ª—å–∑—É–µ–º `set()`

<div class="alert alert-info">

–ï—Å–ª–∏ –Ω—É–∂–Ω–æ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞–ª–∏—á–∏–µ —ç–ª–µ–º–µ–Ω—Ç–æ–≤ –≤ –¥—Ä—É–≥–æ–º –º–∞—Å—Å–∏–≤–µ –∏ —Ç–æ—Ç "–¥—Ä—É–≥–æ–π" –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –±–æ–ª—å—à–æ–π, —Ç–æ –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å `set()`, —Ç–∞–∫ –≤ –Ω–µ–º –ø–æ–∏—Å–∫ —ç–ª–µ–º–µ–Ω—Ç–∞ –æ—Å—É—â–µ—Å—Ç–≤–ª—è–µ—Ç—Å—è –∑–∞ O(log(n)), –∞ –≤ `np.isin()` –∑–∞ O(n). –¢–∞–∫ —á—Ç–æ –¥–∞–∂–µ –Ω–µ—Å–º–æ—Ç—Ä—è –Ω–∞ —Ç–æ, —á—Ç–æ `numpy` –æ–ø—Ç–∏–º–∏–∑—Ä–æ–≤–∞–Ω `set()` –≤—ã–∏–≥—Ä—ã–≤–∞–µ—Ç –µ–≥–æ –ø–æ –≤—Ä–µ–º–µ–Ω–∏.

In [87]:
a = np.arange(1000)
b = np.arange(1000000) * -1

In [88]:
%%timeit
np.isin(a, b)

21.1 ms ¬± 530 ¬µs per loop (mean ¬± std. dev. of 7 runs, 10 loops each)

In [89]:
st = set(b)

In [90]:
%%timeit
[el in st for el in a]

41 ¬µs ¬± 243 ns per loop (mean ¬± std. dev. of 7 runs, 10,000 loops each)

## <center> üç¢ –í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è –≤ `pandas`. </center>

<div class="alert alert-info">
–í–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏—è - —ç—Ç–æ –ø—Ä–æ—Ü–µ—Å—Å, –∫–æ–≥–¥–∞ –º—ã –∑–∞–º–µ–Ω—è–µ–º –æ–±—ã—á–Ω—ã–µ –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å—Ä–∞–∑—É —Å–æ –≤—Å–µ–º –≤–µ–∫—Ç–æ—Ä–æ–º –∑–Ω–∞—á–µ–Ω–∏–π, —á—Ç–æ –ø–æ–∑–≤–æ–ª—è–µ—Ç –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –ø—Ä–∏–±–∞–≤–∏—Ç—å –≤ —Å–∫–æ—Ä–æ—Å—Ç–∏.

In [96]:
df_cars.head()

,car_id,model,car_type,fuel_type,car_rating,year_to_start,riders,year_to_work,target_reg,target_class
0,y13744087j,Kia Rio X-line,economy,petrol,3.78,2015,76163,2021,108.53,another_bug
1,O41613818T,VW Polo VI,economy,petrol,3.90,2015,78218,2021,35.20,electro_bug
2,d-2109686j,Renault Sandero,standart,petrol,6.30,2012,23340,2017,38.62,gear_stick
3,u29695600e,Mercedes-Benz GLC,business,petrol,4.04,2011,1263,2020,30.34,engine_fuel
4,N-8915870N,Renault Sandero,standart,petrol,4.70,2012,26428,2017,30.45,engine_fuel

In [295]:
df_cars['car_type'].unique()

['economy', 'standart', 'business', 'premium']
Categories (4, object): ['business', 'economy', 'premium', 'standart']

### Numpy.where()

<div class="alert alert-info">

–ü–æ–∑–≤–æ–ª—è–µ—Ç –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –∫–∞–∫–æ–µ-—Ç–æ —É—Å–ª–æ–≤–∏–µ –∏ –≤ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–∏ –æ—Ç –µ–≥–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –≤–µ—Ä–Ω—É—Ç—å —Ç–æ –∏–ª–∏ –∏–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ. –í–µ–∫—Ç–æ—Ä–Ω—ã–π –∞–Ω–∞–ª–æ–≥ `if-else`.

In [110]:
def simple_if(x):
    if x['car_rating'] < 3.78:
        return x['car_type']
    else:
        return x['fuel_type']

In [112]:
%%timeit
df_cars.apply(simple_if, axis=1)

7.44 ms ¬± 59.4 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)

In [113]:
%%timeit
np.where(df_cars['car_rating'].values < 3.78, df_cars['car_type'].values, df_cars['fuel_type'].values)

19 ¬µs ¬± 118 ns per loop (mean ¬± std. dev. of 7 runs, 100,000 loops each)

### Numpy.vectorize()

<div class="alert alert-info">
–ß–∞—Å—Ç—å —Ñ—É–Ω–∫—Ü–∏–∏ –º–æ–∂–Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å –ø–æ—ç–ª–µ–º–µ–Ω—Ç–Ω—ã–º–∏ –∏ –ø—Ä–æ—Å—Ç–æ –∑–∞—Å—á–µ—Ç –∏—Ö –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏–∏ –ø–æ–ª—É—á–∏—Ç—å –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω—ã–π –ø—Ä–∏—Ä–æ—Å—Ç —Å–∫–æ—Ä–æ—Å—Ç–∏. –û–¥–Ω–∞–∫–æ —Ä–∞–±–æ—Ç–∞–µ—Ç —ç—Ç–æ –≤—Å–µ —Ä–∞–≤–Ω–æ –º–µ–¥–ª–µ–Ω–Ω–µ, —á–µ–º –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –≤–µ–∫—Ç–æ—Ä–∞–º–∏ —á–∏—Å–µ–ª.

In [114]:
def simple_if2(car_rating, car_type, fuel_type):
    if car_rating < 3.78:
        return car_type
    else:
        return fuel_type

In [117]:
vectfunc = np.vectorize(simple_if2)

In [120]:
%%timeit
vectfunc(df_cars['car_rating'], df_cars['car_type'], df_cars['fuel_type'])

349 ¬µs ¬± 5.72 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

### Numpy.select()

<div class="alert alert-info">

–ö–∞–∫ `np.where()`, —Ç–æ–ª—å–∫–æ –¥–ª—è –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —É—Å–ª–æ–≤–∏–π.

In [138]:
import re

def hard_if(x):
    if x['car_rating'] < 3:
        if 'Audi' == x['model']:
            return 0
        else:
            return 1
    elif x['car_rating'] in [3, 4, 5]:
        return 2
    else:
        return 3

In [139]:
%%timeit
df_cars.apply(simple_if, axis=1)

7.38 ms ¬± 53.3 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)

In [140]:
%%timeit
conditions = [
    (df_cars['car_rating'] < 3) & (df_cars['model'] == 'Audi'),
    (df_cars['car_rating'] < 3),
    df_cars['car_rating'].isin([3, 4, 5])
]

choices = [0, 1, 2]
np.select(conditions, choices, default=3)

347 ¬µs ¬± 4.75 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

### –ü–µ—Ä–µ–ø–∏—Å—ã–≤–∞–µ–º —Å–ª–æ–≤–∞—Ä–∏

<div class="alert alert-info">
–ù–∞ —Å–∞–º–æ–º –¥–µ–ª–µ, –æ–±—Ä–∞—â–∞—Ç—å—Å—è –∫ –∑–Ω–∞—á–µ–Ω–∏—é –∏–∑ —Å–ª–æ–≤–∞—Ä—è —Ç–æ–∂–µ –º–æ–∂–Ω–æ –±—ã—Å—Ç—Ä–æ.

In [147]:
mydict = {'economy': 0,
          'standart': 1,
          'business': 2,
          'premium': 3}
def f(x):
    if x['car_rating'] > 5:
        return mydict[x['car_type']]
    else:
        return np.nan

In [148]:
%%timeit
df_cars.apply(simple_if, axis=1)

7.65 ms ¬± 75.4 ¬µs per loop (mean ¬± std. dev. of 7 runs, 100 loops each)

In [151]:
%%timeit
np.where(df_cars['car_rating'] > 5, df_cars['car_type'].map(mydict), np.nan)

222 ¬µs ¬± 4.18 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

### –ü–∏—à–µ–º groupby –Ω–∞ numpy

<div class="alert alert-info">

`pd.groupby()` - –æ–¥–Ω–∞ –∏–∑ —Å–∞–º—ã—Ö —á–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –∏ –ø–æ–ª–µ–∑–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π –≤ –ø–∞–Ω–¥–∞—Å–µ, –∫–æ—Ç–æ—Ä—É—é –º–æ–∂–Ω–æ —É—Å–∫–æ—Ä–∏—Ç—å –¥–æ 30 —Ä–∞–∑ –ø—Ä–∏ –ø–æ–º–æ—â–∏ `numpy`!

In [339]:
from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
df_cars['int_model'] = lbl.fit_transform((df_cars['model'] + df_cars['fuel_type']).astype(str))

In [173]:
%%timeit
df_cars.groupby(['model', 'fuel_type'])['target_reg'].sum()

340 ¬µs ¬± 10.7 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [174]:
%%timeit
np.bincount(df_cars['int_model'], weights=df_cars['target_reg'])

9.63 ¬µs ¬± 35.7 ns per loop (mean ¬± std. dev. of 7 runs, 100,000 loops each)

In [333]:
%%timeit
indices = df_cars['int_model']
max_values = np.maximum.reduceat(df_cars['target_reg'].values[np.argsort(indices)],
                                 np.concatenate(([0], np.cumsum(np.bincount(indices))))[:-1])
max_values

54.9 ¬µs ¬± 2.33 ¬µs per loop (mean ¬± std. dev. of 7 runs, 10,000 loops each)

In [334]:
%%timeit
df_cars.groupby(['int_model'])['target_reg'].agg(['max'])

183 ¬µs ¬± 777 ns per loop (mean ¬± std. dev. of 7 runs, 10,000 loops each)

## <center> `Numba Jit` </center>

<div class="alert alert-info">

–ï—Å–ª–∏ –Ω—É–∂–Ω–æ —á—Ç–æ-—Ç–æ –∫–∞—Å—Ç–Ω–æ–º–Ω–æ–µ, —á—Ç–æ –Ω–µ–ª—å–∑—è –ø–µ—Ä–µ–ø–∏—Å–∞—Ç—å –Ω–∞ `numpy`, –Ω–æ –Ω—É–∂–Ω–æ —á—Ç–æ–±—ã —Ä–∞–±–æ—Ç–∞–ª–æ –±—ã—Å—Ç—Ä–æ, `numba.jit` –≤–∞–º –≤ –ø–æ–º–æ—â—å. –û–Ω –∫–æ–Ω–≤–µ—Ä—Ç–∏—Ä—É–µ—Ç –Ω–∞–ø–∏—Å–∞–Ω–Ω—ã–π –≤–∞–º–∏ –Ω–∞ –ø–∏—Ç–æ–Ω–µ –∫–æ–¥ –≤ –° –∏ –∑–∞—Å—á–µ—Ç —ç—Ç–æ–≥–æ —Ä–∞–±–æ—Ç–∞–µ—Ç –Ω–∞ –ø–æ—Ä—è–¥–æ–∫ (–∞ –∏–Ω–æ–≥–¥–∞ –∏ –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ) –±—ã—Å—Ç—Ä–µ–µ, —á–µ–º –æ–±—ã—á–Ω—ã–π –ø–∏—Ç–æ–Ω. –û–¥–Ω–∞–∫–æ, –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç –æ–Ω –Ω–µ –≤–µ—Å—å –ø–∏—Ç–æ–Ω–æ–≤—Å–∫–∏–π —Ñ—É–Ω–∫—Ü–∏–æ–Ω–∞–ª –∏ –≤–Ω—É—Ç—Ä–∏ –Ω–µ–≥–æ –Ω–µ–ª—å–∑—è –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ä–∞–∑–Ω—ã–µ –±–∏–±–ª–∏–æ—Ç–µ—á–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏, —Ç–∞–∫ —á—Ç–æ –≤ –æ—Å–Ω–æ–≤–Ω–æ–º –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –Ω–∏–∑–∫–æ—É—Ä–æ–≤–Ω–µ–≤–æ–π –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏.

In [357]:
from numba import jit

@jit(nopython=True)
def f(n):
    s = 0.
    for i in range(n):
        s += i ** 0.5
    return s

In [356]:
%%timeit
f(10000)

535 ¬µs ¬± 2.48 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [358]:
%%timeit
f(10000)

11.8 ¬µs ¬± 2.17 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1 loop each)

In [400]:
@jit(nopython=True)
def monotonically_increasing(a):
    max_value = 0
    for i in range(len(a)):
        if a[i] > max_value:
            max_value = a[i]
        a[i] = max_value
    return a

In [399]:
%%timeit
monotonically_increasing(df_cars['target_reg'].values)

205 ¬µs ¬± 2.47 ¬µs per loop (mean ¬± std. dev. of 7 runs, 1,000 loops each)

In [401]:
%%timeit
monotonically_increasing(df_cars['target_reg'].values)

4.49 ¬µs ¬± 9.07 ns per loop (mean ¬± std. dev. of 7 runs, 100,000 loops each)

## –ú–Ω–æ–≥–æ–ø–æ—Ç–æ—á–Ω–æ–µ apply

### Swifter

<div class="alert alert-info">
–ü–æ–∑–≤–æ–ª—è–µ—Ç —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏—Ç—å apply –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ –ø–æ—Ç–æ–∫–æ–≤ (–ø–æ–ª–µ–∑–Ω–æ, –∫–æ–≥–¥–∞ io bounds –∑–∞–¥–∞—á–∞, –∞ –Ω–µ cpu-bounds).

In [179]:
!pip install swifter -q

In [181]:
import swifter

In [230]:
import sys
sys.path.append('../src/')
import text_prepare
import importlib
importlib.reload(text_prepare)

In [221]:
df = pd.read_csv('../data/blending/text_transformer_data.csv')
df.head()

       category                                               text
0       extreme  –õ–µ–¥–Ω–∏–∫ –ü–∞—Å—Ç–æ—Ä—É—Ä–∏ —ç—Ç–æ —Ü–∏—Ä–∫–æ–≤–æ–π –ª–µ–¥–Ω–∏–∫ —Ä–∞—Å–ø–æ–ª–æ–∂–µ...
1  martial_arts  –ì–ª–∞–≤–Ω—ã–µ —É—á–∞—Å—Ç–Ω–∏–∫–∏ –ø—Ä–µ–¥—Å—Ç–æ—è—â–µ–≥–æ Betokenoid 274 ...
2       extreme  Ttokenoid Btokenoid ‚Äì –∫–∞—Ä—Ç–∞ —Å –∫–æ—Ç–æ—Ä–æ–π –º–æ–∂–Ω–æ –Ω–µ...
3     autosport  –í –°–∏–ª—å–≤–µ—Ä—Å—Ç–æ—É–Ω–µ –ø—Ä–æ–∏–∑–æ—à–ª–∏ –∫—Ä—É–ø–Ω—ã–µ –æ–±–Ω–æ–≤–ª–µ–Ω–∏—è –∞...
4       extreme  –ù–∞ –ø—Ä–æ—Ç—è–∂–µ–Ω–∏–∏ –±–æ–ª–µ–µ —á–µ–º 30 –ª–µ—Ç –í–µ—Å—Ç—Å–∞–π–¥ —è–≤–ª—è–µ—Ç...

In [232]:
%%time

tmp = df['text'].apply(text_prepare.text_prepare)

CPU times: user 17.5 s, sys: 3.87 s, total: 21.3 s
Wall time: 21.6 s

In [233]:
%%time

tmp = df['text'].swifter.apply(text_prepare.text_prepare)

Pandas Apply:   0%|          | 0/500 [00:00<?, ?it/s]

CPU times: user 19.1 s, sys: 4.24 s, total: 23.3 s
Wall time: 23.4 s

## <center> üßµ Multiprocessing </center>

<div class="alert alert-info">
 
–° –ø–æ–º–æ—â—å—é `multiprocessing` –º–æ–∂–Ω–æ —É—Å–∫–æ—Ä–∏—Ç—å –≤–æ–æ–±—â–µ –ø—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∏ –≤—Å–µ. –û–Ω –ø–æ–∑–≤–ª–æ–ª—è–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ –æ–¥–Ω–æ —è–¥—Ä–æ –≤–∞—à–µ–≥–æ –∫–æ–º–ø—å—é—Ç–µ—Ä–∞, –∞ —Å—Ä–∞–∑—É –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ —É—Å–∫–æ—Ä–∏—Ç—å –≤—ã—á–∏—Å–ª–µ–Ω–∏—è (—É–∂–µ –Ω–µ —Ç–æ–ª—å–∫–æ io-bound, –Ω–æ –µ—â–µ –∏ cpu-bound) –≤ –∫–æ–ª-–≤–æ —Ä–∞–∑ –ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–æ–µ –∫–æ–ª-–≤—É –¥–æ—Å—Ç—É–ø–Ω—ã—Ö —è–¥–µ—Ä.

In [220]:
from multiprocessing import Pool

In [228]:
def parallelize_dataframe(df, func, n_cores=4):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = np.concatenate(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [231]:
%%time
tmp = parallelize_dataframe(df, text_prepare.many_row_prepare)

CPU times: user 10.2 ms, sys: 39 ms, total: 49.2 ms
Wall time: 6.41 s

## –í—ã–≤–æ–¥—ã

<div class="alert alert-info">

–£—Å–∫–æ—Ä–µ–Ω–∏–µ –≤—ã—á–µ—Å–ª–µ–Ω–∏–π –∏ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏—è –ø–∞–º—è—Ç–∏ —ç—Ç–æ –≤–∞–∂–Ω—ã–µ –∑–∞–¥–∞—á–∏, —Å –∫–æ—Ç–æ—Ä—ã–º–∏ –ø–µ—Ä–∏–æ–¥–∏—á–µ—Å–∫–∏ –º–æ–∂–Ω–æ —Å—Ç–∞–ª–∫–Ω—É—Ç—Å—è –≤–æ –≤—Ä–µ–º—è –Ω–∞–ø–∏—Å–∞–Ω–∏—è —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏–π –∏–ª–∏ –ø—Ä–æ—Å—Ç–æ –ø—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–æ–ª—å—à–∏–º –∫–æ–ª-–≤–æ–º –¥–∞–Ω–Ω—ã—Ö. –í –¥–∞–Ω–Ω–æ–º —É—Ä–æ–∫–µ –º—ã —Ä–∞—Å—Å–º–æ—Ç—Ä–µ–ª–∏ –æ—Å–Ω–æ–≤–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã —Ä–µ—à–µ–Ω–∏—è —ç—Ç–∏—Ö –∑–∞–¥–∞—á –∏ –∫–∞–∫ –∏—Ö –ø—Ä–∏–º–µ–Ω—è—Ç—å –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ. –ù–µ —Ç–æ—Ä–º–æ–∑–∏, —Å—ä–µ—à—å `numpy`!